@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&family=Jacques+Francois+Shadow&family=Londrina+Sketch&family=Nunito:wght@300;400;500;600;700&family=Orbitron:wght@400;500&family=Poppins:wght@400;500&family=Rubik+80s+Fade&family=Rubik+Distressed&family=Teko:wght@400;500;600;700&family=Zen+Dots&display=swap'); 
*{
    box-sizing:border-box;
    margin:0;
}
body{
    
    font-family:'Poppins', sans-serif;
    min-height:100vh;
    background-image: url(/weather-app/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.shower{
    position:fixed;
    margin-top:-160vh;
    animation: fall 3s ease-in;
}
@keyframes fall{
    to{
        margin-top:-120vh;
    }
}
.title{
    margin-left:40%;
    margin-top:2%;
    color:white;
    letter-spacing:1px;
}
.search-bar{
   margin-left:40%;
   margin-top:2%;

}
#search{
    border:2px solid white;
    padding:5px;
    height:40px;
    width:120px;
}
.search-button{
    box-shadow:3px 3px 1px rgb(232, 150, 19);
    color:black;
    border: none;
    transition: all .3s;
}
.search-button:hover{
    background-color:rgb(232, 150, 19);
    
    box-shadow:3px 3px 1px rgb(255, 255, 255);
}
.content{
    display:flex;
    flex-direction:column;
    height:500px;
    margin-top:3%;
    margin-left:2%;
    margin-right:2%;
    border:2px solid black;
}
.content .box-1{
    display:flex;
    height:300px;
    justify-content:space-evenly;
   background-color: rgb(0, 0, 0);
    
}
.content .box-1 *{
    width:150px;
    padding:30px 10px;
    font-size: 1.2rem;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.humidity{
    background-color: rgb(44,150,46);
}
.min-temp{
    background-color: rgb(228, 232, 19);
}
.max-temp{
    background-color: rgb(232, 23, 19);
}
.temp{
    background-color: rgb(232, 150, 19);
}
.wind-speed{
    background-color: rgb(70, 232, 244);
}
.content .box-2{
    background-color: black;
}
.content .box-2 .location p{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-transform: capitalize;
font-size: 1.5rem;
margin-left: 50%;
margin-top:1%;
margin-bottom:1%;
color:antiquewhite;
}